@import url("main.css");

* {
    -first-color  : #276955;
    -second-color : #41a58d;
    -third-color  : #d1ede7;

    -text-color                   : black;
    -button-text-color            : black;
    -button-text-color-OVER       : black;
    -button-close-text-color-OVER : red;

    /*___ chat CSS ___*/
    -text-field-color         : white;
    -scroll-bar-color         : rgb(39,105,85);

    -separator-color : rgb(17,17,17);
}



