@import url("main.css");

* {
    -first-color  : rgb(125, 148, 158);
    -second-color : rgb(137, 161, 171);
    -third-color  : rgb(173, 204, 210);

    -text-color                   : black;
    -button-text-color            : black;
    -button-text-color-OVER       : black;
    -button-close-text-color-OVER : red;

    /*___ chat CSS ___*/
    -text-field-color         : white;
    -scroll-bar-color         : rgb(125, 148, 158);

    -separator-color : rgb(238,238,238);

    -checkedcolor : green;
    -uncheckedcolor : black;
}

