@import url("object/menu-bar.css");
@import url("object/chat.css");
@import url("object/button.css");
@import url("object/button-dashboard.css");
@import url("object/button-close.css");
@import url("object/menu-emoji.css");

.root{
    -fx-font-size: 13pt;
    -fx-font-family: "Roboto-Black";
}

.pn-zone-travail {
    -fx-background-color:  -third-color;
}