.menu-item{
    -fx-border-color:     rgb(13, 17, 20) ;
    -fx-background-color: rgb(13, 17, 20);
}


.menu-bar, .menu{
    -fx-background-color:  rgb( 12, 12, 13);
    -fx-border-color:      rgb( 12, 12, 13);
}

.menu-bar {
    -fx-border-color: rgb(13, 17, 20);
}


.context-menu {
    -fx-padding: 0;
}

.menu-item:hover{
    -fx-background-color: rgb(47,49,54);
    -fx-border-color: rgb(47,49,54);
}
