.label {
    -fx-text-fill: white;
}

.text-field, .text-area .content {
    -fx-border-color:     rgb(72,75,81) ;
    -fx-background-color: rgb(72,75,81);
}

.text-area{
    -fx-background-color: rgb(72,75,81);
}

.text-input{
    -fx-text-fill: white;
}

.pn-zone-travail {
    -fx-background-color: rgb(54, 57, 63)
}

.VBox{
    -fx-background-color: rgb(32,34,37);
}

