.label {
    -fx-text-fill: white;
}

.text-field, .text-area .content {
    -fx-border-color:     rgb(72,75,81) ;
    -fx-background-color: rgb(72,75,81);
}

.text-area{
    -fx-background-color: rgb(72,75,81);
}

.text-input{
    -fx-text-fill: white;
}