.play-pause {
    -fx-image: url("../../../image/play.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.play-pause:selected {
    -fx-image: url("../../../image/pause.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.stop {
    -fx-image: url("../../../image/stop.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}