.button{
    -fx-background-radius: 50px;
    -fx-text-fill: -text-color;
    -fx-border-color: -third-color;
    -fx-border-radius: 50px;
    -fx-border-width: 2px;
    -fx-background-color: -first-color;
    -jfx-disable-visual-focus: true;
}