.track{
    -fx-background-color: -text-field-color;
}

.bar{
    -fx-background-color: -second-color;
}

.red-bar    > .bar { -fx-background-color: red;    }
.orange-bar > .bar { -fx-background-color: orange; }
.green-bar  > .bar { -fx-background-color: green;  }